{% block radio_step %}
    <div 
        id="step-{{ step.id }}"
        {% if step.visible %}
            {% set classes = 'configurator-step-wrapper' %} 
        {% else %}
            {% set classes = 'configurator-step-wrapper step-hidden' %}  
        {% endif %}
        class="{{ classes }}">
        <form 
            class="configurator-step-form"
            method="post"
            action="{{ configurator.form_target }}">
            <input type="hidden" name="step_id" value="{{ step.id }}">
            <h5>{{ step.title }}</h5>
            <fieldset>
                {% for choice in step.choices %}
                    <div>
                        <input 
                            type="radio" 
                            id="step-{{ step.id }}-choice-{{ choice.id }}" 
                            name="choice" 
                            value="{{choice.id}}">
                        <label for="step-{{ step.id }}-choice-{{ choice.id }}">{{ choice.name }}</label> 
                    </div>
                {% endfor %}
            </fieldset>
            {% if step.id != 1 %}
                <button type="button" class="configurator-step-btn back-btn">Zurück</button>
            {% endif %}
            <button type="button" class="configurator-step-btn confirm-btn">Bestätigen</button>
        </form>
    </div>
{% endblock %}